html,body{
    margin:0;
    color: rgb(200, 200, 200);
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

a:hover {
    /* text-decoration: underline;  */
    color: #9c64fe
}

.page-wrapper {
    animation: moveBackground 100s infinite linear;
    background-image:  radial-gradient(#603c9f 1.15px, transparent 1.15px), radial-gradient(#603c9f 1.15px, #180234 1.15px);
    background-size: 46px 46px;
    
    background-attachment: fixed; 
    opacity: 0.9;
}

@keyframes moveBackground {
    from {
      background-position: 100% 100%;
    }
    to {
      background-position: 0 0;
    }
  }

.sticky-column {
    padding-left: 0;
    padding-right: 10rem;
    position: sticky;
    height: 20rem;
    top: 5rem;
    background-color: rgb(24, 2, 52, 0.5);
    text-align: center;
  }

.content {
    height: 100%;
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: block;
    /* background: black; */
}

.title {
    color: white;
    font-size: 3rem; 
    font-weight: 700;
    /* text-align: left; */
    margin-bottom: 1rem;
}

.body {
    color: white;
    /* font-size: 1.5rem; */
    font-weight: 400;
    margin-bottom: 2rem;
}

.body p {
    font-size: 1 rem;
}

.icons {
    display: flex;
}

.footer {
    padding-top:2rem;
    padding-bottom:1rem;
    
}
#one {
    color: white;
    font-size: 1rem;
    text-align: left;
}