.modal {
    display: block;
    visibility: hidden;
    
  }
  .modal-dialog {
    background-color: #180234;
    border-radius: 8px;
    padding: 16px;
    max-width: 600px;
    margin: auto;
  }

  .modal-content {
    background-color: #180234;
    border-radius: 8px;
    padding: 16px;
    max-width: 600px;
    margin: auto;
  }

  .modal-header {
    text-align: left;
    /* margin-left: auto; */
  }

  .modal-content  {
    opacity: 0; 
  }
  
  .modal-show {
    visibility:visible;
    background-color: rgba(169, 169, 169, 0.2);
    transition: opacity 0.2s ease-in-out; 
  } 
  
 
  
  .modal-show .modal-content  {
    opacity: 1; 
    transition: 0.2s ease-in-out; 
  }
  
  
  