.modal {
    display: block;
    visibility: hidden;
    padding: 3rem;
  }
  .modal-dialog {
    background-color: var(--modal-bg);
    border-radius: 1rem;
    padding: 1rem;
    max-width: 40rem;
    margin: auto;
  }

  .modal-content {
    background-color: #180234;
    border-radius: 1rem;
    padding: 1rem;
    max-width: 40rem;
    margin: auto;
  }

  .modal-header {
    text-align: left;
  }

  .modal-content  {
    opacity: 0; 
  }
  
  .modal-show {
    visibility:visible;
    background-color: rgba(169, 169, 169, 0.2);
    transition: opacity 0.3s ease-in-out; 
  } 
  
 
  
  .modal-show .modal-content  {
    opacity: 1; 
    transition: 0.3s ease-in-out; 
  }
  
  
  