.modal {
    display: block;
    visibility: hidden;
    padding: min(3vh, 3rem);
    color: var(--text-normal);
  }
  .modal-dialog {
    background-color: var(--modal-bg);
    border-radius: 1.5rem;
    padding: 1rem;
    max-width: 50rem;
    margin: auto;
  }

  .modal-content {
    background-color: var(--modal-bg);
    border: none;
    padding: min(1vh, 1rem);
    max-width: 50rem;
    margin: auto;
  }

  .modal-content a {
    color: var(--text-highlighted);
  }

  .modal-content a:hover {
    text-decoration: underline;
  }

  .modal-header {
    text-align: left;
  }

  .modal-content  {
    opacity: 0; 
  }
  
  .modal-show {
    visibility:visible;
    background-color: var(--modal-unfocused);
    transition: opacity 0.3s ease-in-out; 
  } 
    
  .modal-show .modal-content  {
    opacity: 1; 
    transition: 0.3s ease-in-out; 
  }  