:root {
    --purple-1: rgb(24, 17, 27);
    --purple-2: rgb(30, 21, 35);
    --purple-3: rgb(48, 28, 59);
    --purple-4: rgb(61, 34, 78);
    --purple-5: rgb(72, 41, 92);
    --purple-6: rgb(84, 52, 107);
    --purple-7: rgb(102, 66, 130);
    --purple-8: rgb(132, 87, 170);
    --purple-9: rgb(142, 78, 198);
    --purple-10: rgb(154, 92, 208);
    --purple-11: rgb(209, 157, 255);
    --purple-12: rgb(236, 217, 250);
    --purple-a1: rgba(180, 18, 249, 0.043);
    --purple-a2: rgba(183, 68, 247, 0.082);
    --purple-a3: rgba(193, 80, 255, 0.176);
    --purple-a4: rgba(187, 83, 253, 0.259);
    --purple-a5: rgba(190, 92, 253, 0.318);
    --purple-a6: rgba(193, 109, 253, 0.380);
    --purple-a7: rgba(195, 120, 253, 0.478);
    --purple-a8: rgba(196, 126, 255, 0.643);
    --purple-a9: rgba(182, 97, 255, 0.760);
    --purple-a10: rgba(188, 111, 255, 0.804);
    --purple-a11: rgba(209, 157, 255, 1);
    --purple-a12: rgba(241, 221, 250, 1);

    --mauve-1: rgb(18, 17, 19);
    --mauve-2: rgb(26, 25, 27);
    --mauve-3: rgb(35, 34, 37);
    --mauve-4: rgb(43, 41, 45);
    --mauve-5: rgb(50, 48, 53);
    --mauve-6: rgb(60, 57, 63);
    --mauve-7: rgb(73, 71, 78);
    --mauve-8: rgb(98, 95, 105);
    --mauve-9: rgb(111, 109, 120);
    --mauve-10: rgb(124, 122, 133);
    --mauve-11: rgb(181, 178, 188);
    --mauve-12: rgb(238, 238, 240);
    --mauve-a1: rgba(0, 0, 0, 0.216);
    --mauve-a2: rgba(245, 244, 246, 0.035);
    --mauve-a3: rgba(235, 234, 248, 0.082);
    --mauve-a4: rgba(238, 229, 248, 0.114);
    --mauve-a5: rgba(239, 230, 254, 0.098);
    --mauve-a6: rgba(241, 230, 253, 0.118);
    --mauve-a7: rgba(238, 233, 255, 0.157);
    --mauve-a8: rgba(238, 231, 255, 0.239);
    --mauve-a9: rgba(234, 230, 253, 0.431);
    --mauve-a10: rgba(236, 233, 253, 0.486);
    --mauve-a11: rgba(245, 241, 255, 0.718);
    --mauve-a12: rgba(253, 253, 255, 0.937);

    --iris-1: rgb(19, 19, 30);
    --iris-2: rgb(23, 22, 37);
    --iris-3: rgb(32, 34, 72);
    --iris-4: rgb(38, 42, 101);
    --iris-5: rgb(48, 51, 116);
    --iris-6: rgb(61, 62, 130);
    --iris-7: rgb(74, 74, 149);
    --iris-8: rgb(89, 88, 177);
    --iris-9: rgb(91, 91, 214);
    --iris-10: rgb(110, 106, 222);
    --iris-11: rgb(177, 169, 255);
    --iris-12: rgb(224, 223, 254);
    --iris-a1: rgba(54, 54, 254, 0.055);
    --iris-a2: rgba(86, 75, 249, 0.086);
    --iris-a3: rgba(82, 91, 255, 0.231);
    --iris-a4: rgba(77, 88, 255, 0.353);
    --iris-a5: rgba(91, 98, 253, 0.427);
    --iris-a6: rgba(109, 111, 253, 0.478);
    --iris-a7: rgba(119, 119, 254, 0.557);
    --iris-a8: rgba(123, 122, 254, 0.675);
    --iris-a9: rgba(106, 106, 254, 0.824);
    --iris-a10: rgba(125, 121, 255, 0.863);
    --iris-a11: rgba(177, 169, 255, 1);
    --iris-a12: rgba(225, 224, 255, 0.996);

    --slate-1: rgb(17, 17, 19);
    --slate-2: rgb(24, 25, 27);
    --slate-3: rgb(33, 34, 37);
    --slate-4: rgb(39, 42, 45);
    --slate-5: rgb(46, 49, 53);
    --slate-6: rgb(54, 58, 63);
    --slate-7: rgb(67, 72, 78);
    --slate-8: rgb(90, 97, 105);
    --slate-9: rgb(105, 110, 119);
    --slate-10: rgb(119, 123, 132);
    --slate-11: rgb(176, 180, 186);
    --slate-12: rgb(237, 238, 240);
    --slate-a0: rgba(0, 0, 0, 0.216);
    --slate-a1: rgba(0, 0, 0, 0);
    --slate-a2: rgba(216, 244, 246, 0.035);
    --slate-a3: rgba(222, 234, 248, 0.082);
    --slate-a4: rgba(210, 237, 248, 0.114);
    --slate-a5: rgba(217, 237, 254, 0.098);
    --slate-a6: rgba(214, 235, 253, 0.118);
    --slate-a7: rgba(217, 237, 255, 0.157);
    --slate-a8: rgba(217, 237, 255, 0.239);
    --slate-a9: rgba(223, 235, 253, 0.431);
    --slate-a10: rgba(229, 237, 253, 0.486);
    --slate-a11: rgba(241, 247, 254, 0.718);
    --slate-a12: rgba(252, 253, 255, 0.937);

    --violet-1: rgb(20, 18, 31);
    --violet-2: rgb(27, 21, 37);
    --violet-3: rgb(41, 31, 67);
    --violet-4: rgb(51, 37, 91);
    --violet-5: rgb(60, 46, 105);
    --violet-6: rgb(71, 56, 118);
    --violet-7: rgb(86, 70, 139);
    --violet-8: rgb(105, 88, 173);
    --violet-9: rgb(110, 86, 207);
    --violet-10: rgb(125, 102, 217);
    --violet-11: rgb(186, 167, 255);
    --violet-12: rgb(226, 221, 254);
    --violet-a1: rgba(68, 34, 255, 0.059);
    --violet-a2: rgba(133, 63, 249, 0.086);
    --violet-a3: rgba(131, 84, 254, 0.141);
    --violet-a3-bg: rgb(41, 31, 67, 0.7);
    --violet-a4: rgba(125, 81, 253, 0.196);
    --violet-a5: rgba(132, 95, 253, 0.247);
    --violet-a6: rgba(143, 108, 253, 0.302);
    --violet-a7: rgba(152, 121, 255, 0.325);
    --violet-a8: rgba(151, 125, 254, 0.424);
    --violet-a9: rgba(134, 104, 255, 0.514);
    --violet-a10: rgba(145, 118, 254, 0.615);
    --violet-a11: rgba(186, 167, 255, 1);
    --violet-a12: rgba(227, 222, 255, 0.996);
}
