.icon-button {
    color: white;
    transition: all 0.3s;
    box-sizing: border-box;
    width: 25px;
    height: 25px;
    font-size: 1.5rem;
    padding: 0;
    margin: 5px;
}

.icon-button button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: inherit;
    transition: inherit;
    background-color: transparent;
    border: none;
}

.icon-button button:hover {
    /* color: #999999; */
    color: var(--text-highlighted);
}
